.card-list{
    margin: 70px auto 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    row-gap: 32px;
    column-gap: 28px;
    max-width: 1280px;
    width: calc(100% - 140px);
    justify-items: center;
}
