.card-list{
    margin: 70px auto 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    row-gap: 32px;
    column-gap: 28px;
    max-width: 1140px;
    width: calc(100% - 140px);
    justify-items: center;
    flex: 1;
}
.card-item{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1279px){
    .card-list {
        width: calc(100% - 100px);
    }
}
@media screen and (max-width: 1023px){
    .card-list {
        width: calc(100% - 60px);
        grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
        row-gap: 35px;
        column-gap: 24px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 767px){
    .card-list {
        margin-top: 40px;
        width: calc(100% - 20px);
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 16px;
    }
}

