.cards{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(100% - 140px);
    max-width: 1140px;
    margin: 0 auto;
}
.card-list{
    margin: 70px auto 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    row-gap: 32px;
    column-gap: 28px;
    width: 100%;
    justify-items: center;
    flex: 1;
}
.card-item{
    display: flex;
    flex-direction: column;
    width: 360px;
}
@media screen and (max-width: 1279px){
    .cards {
        width: calc(100% - 100px);
    }
}
@media screen and (max-width: 1023px){
    .cards {
        width: calc(100% - 60px);
    }
    .card-list {
        grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
        row-gap: 35px;
        column-gap: 24px;
        margin-bottom: 30px;
    }
    .card-item{
        width: 342px;
    }
}
@media screen and (max-width: 767px){
    .cards {
        width: calc(100% - 20px);
    }
    .card-list {
        margin-top: 40px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 16px;
    }
    .card-item{
        width: 300px;
    }
}

