.portfolio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 140px);
    max-width: 1140px;
    margin-bottom: 125px;
}
.portfolio__title{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.portfolio__link{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    text-decoration: none;
    align-items: center;
}
.portfolio__link:hover{
    opacity: 0.7;
}

.portfolio__link:last-child{
    border-bottom: none;
}

.portfolio__text{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    padding: 20px 0;
    margin: 0;
}

.portfolio__ico{
    background-image: url('../../../images/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 29px;
    height: 60px;
}

@media screen and (max-width: 1279px){
    .portfolio {
        width: calc(100% - 100px);
    }
}
@media screen and (max-width: 1023px){
    .portfolio {
        margin-bottom: 70px;
    }
    .portfolio__text{
        font-size: 28px;
    }
}
@media screen and (max-width: 767px){
    .portfolio {
        width: calc(100% - 28px);
        margin-bottom: 50px;
    }
    .portfolio__title{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .portfolio__text{
        font-size: 18px;
        line-height: 28px;
    }
    .portfolio__ico{
        width: 18px;
        height: 28px;
    }
}
