.footer {
    display: flex;
    flex-direction: column;
    margin: 0 70px 20px;
    max-width: 1140px;
    width: calc(100% - 140px);
    flex-shrink: 0;
}

.footer__info{
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    margin-top: 79px;
    margin-bottom: 20px;
}

.footer__text{
    padding: 0;
    margin: 0 0 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
}

.footer__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__year{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.footer__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__link{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}
.footer__link:hover{
    opacity: 0.7;
}
.footer__link:last-child{
    margin-right: 0;
}
@media screen and (max-width: 1279px){
    .footer {
        margin: 0 50px 20px;
        width: calc(100% - 100px);
    }
}
@media screen and (max-width: 767px){
    .footer {
        width: calc(100% - 20px);
        margin: 79px 10px 10px;
    }
    .footer__info{
        width: 100%;
        border-bottom: 1px solid #E8E8E8;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .footer__text{
        margin: 0 0 21px;
        font-size: 12px;
        line-height: 15px;
    }
    .footer__line{
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__links{
        flex-direction: column;
        align-items: center;
    }
    .footer__link{
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        margin-right: 0;
        margin-bottom: 12px;
    }
    .footer__link:last-child{
        margin-bottom: 0;
    }
    .footer__year{
        font-size: 12px;
        line-height: 15px;
        margin-top: 30px;
    }
}