.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 110px 70px;
    width: calc(100% - 140px);
    max-width: 1140px;
}

.about-me__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1140px;
    margin-top: 58px;
}

.about-me__img{
    background-image: url('../../../images/photo.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 270px;
    height: 327px;
}

.about-me__text{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: flex-start;
}

.about-me__name{
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
}

.about-me__about{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}

.about-me__desc{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
}

.about-me__links{
    display: flex;
    flex-direction: row;
}

.about-me__link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}
.about-me__link:hover{
    opacity: 0.7;
}

@media screen and (max-width: 1279px){
    .about-me {
        padding: 110px 50px;
        width: calc(100% - 100px);
    }
}
@media screen and (max-width: 1023px){
    .about-me {
        padding: 90px 50px;
    }
    .about-me__info{
        margin-top: 66px;
    }
    .about-me__img{
        width: 225px;
        height: 307px;
    }
    .about-me__text{
        max-width: 364px;
        margin-right: 49px;
    }
    .about-me__name{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .about-me__desc{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 45px;
    }
}
@media screen and (max-width: 767px){
    .about-me {
        padding: 70px 14px;
        width: calc(100% - 28px);
    }
    .about-me__info{
        flex-direction: column-reverse;
        margin: 60px auto 0;
        justify-content: center;
    }
    .about-me__img{
        width: 292px;
        height: 352px;
        margin: 0 auto 40px;
    }
    .about-me__text{
        max-width: 100%;
        margin-right: 0;
    }
    .about-me__name{
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    
    .about-me__about{
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
    }
    
    .about-me__desc{
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
    }
    .about-me__link{
        margin-right: 26px;
    }
    
}
